body {
  background-color: #1FD05A;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.box {
  position: relative;
  float: left;
  margin: 1px;
  background-color: #1F74D0;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.box p {
  position: relative;
  top: 50%;
  margin-top: -65px;
  font-size: 100px;
  font-family: 'Arial';
  font-weight: bold;
  color: #1FD05A;
}

.over {
  position: absolute;
  top: 50%;
  margin-top: -175px;
  left: 50%;
  margin-left: -175px;

  height: 350px;
  width: 350px;

  padding-top: 35px;
  padding-bottom: 35px;

  background-color: #1F74D0;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
  opacity: .8;
}

.over h1 {
  margin: 0px;
  font-size: 32px;
  color: #fff;
}

.over p {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 22px;
  font-family: 'Arial';
  color: #fff;
}

.over button {
  margin-top: 25px;

  width: 150px;
  height: 45px;
  background-color: #fff;

  font-family: 'Arial';
  font-size: 18px;
  color: #1F74D0;
}
